@charset "utf-8";
@import url(//at.alicdn.com/t/font_1439123019_2359555.css);
/*font-icon*/
i.icon{display: inline-block;vertical-align: top; font-family:"iconfont" !important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}


html{*border:none;;overflow-y:scroll; overflow-x:auto;height: 100%;width: 100%;position: relative;background: #fafafa;}
body{margin:0 auto;font:normal 0.8em/1.5 "微软雅黑", Arial,Tahoma,Helvetica,sans-serif;color:#333;width: 960px;background: #fff;border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
h1,h2,h3,h4,h5,h6,ol,ul,p,form,dl{margin-top:0;margin-bottom:0}
img{border:none;vertical-align:top;}
ol,ul,dd{padding-left:0;margin-left:0; }
ul{list-style-type:none;}
em,cite{font-style: normal;}
a{text-decoration:none;white-space:nowrap;color: inherit;}

.title{border-bottom: #e8e8e6 1px solid;height: 28px;line-height: 28px;font-size: 14px;}
.title span{color: #6c6d68;border-bottom: #fc7001 solid 1px;height: 28px;display: inline-block;margin-bottom: -1px;padding: 0 6px;position: relative;}


.banner{padding: 80px 30px 0;overflow: hidden;border-bottom: 1px solid #f0f0f0;}
.banner img{float: left;width: 230px;}
.banner h1{margin-left: 260px;margin-bottom: 20px;font-size: 24px;}
.banner p{position: relative;margin-left: 270px;line-height: 22px;font-size: 14px;color: #888;}
.banner p:before{content: '';position: absolute;width: 3px;height: 3px;background: #aaa;left: -9px;top: 9px;}
.banner h6{font-weight: normal;margin-left: 260px;color: #999;margin-top: 10px;}
.banner h6 i {color: #f28403;margin-right: 3px;}


.soft{background: #f6f6f6;padding: 20px 0 50px;text-align: center;}
.soft h2{margin-bottom: 30px;}


.soft li{display: inline-block;position: relative;text-align: center;margin: 0 20px;}
.soft li>i{position: absolute;left: 0;top: 0;width: 100%; height: 100px;line-height: 100px;font-size: 30px;}
.soft li span {display: block;position: relative; font-size: 100px;width: 1em;height: 1em;border-radius: 50%;box-shadow: inset 0 0 0 .1em #eaeaea;}
.soft li span b {position: absolute;left: 0;top: 0; width: 1em;height: 1em;}
.soft li span b:before {position: absolute;left: 0;top: 0; clip: rect(0, 1em, 1em, .5em);width: 1em;height: 1em;content: '';transform: rotate(0deg);border-radius: 50%;box-shadow: inset 0 0 0 .1em #3aa8ed;}
.soft li span b.r2{display: block; clip: rect(0, .5em, 1em, 0);}
.soft li span b.r2:before{transform: rotate(120deg);}
.soft p{line-height: 40px;}

.soft li.ps b:before{box-shadow: inset 0 0 0 .1em #2cc1e2; }
.soft li.ps {color:#3d3855;}
.soft li.ai b:before{box-shadow: inset 0 0 0 .1em #fba52c; }
.soft li.ai {color:#fba52c;}
.soft li.dw b:before{box-shadow: inset 0 0 0 .1em #afc349; }
.soft li.dw {color:#afc349;}
.soft li.ae b:before{box-shadow: inset 0 0 0 .1em #68c52f; }
.soft li.ae {color:#68c52f;}


.experience{float: left;width: 600px; position: relative;border:1px solid #ddd;margin: 10px;padding-bottom: 20px;}
.experience:before{content: '';position: absolute;left: 70px; top: 58px;bottom: 20px;width: 0;border-left: 1px dashed #fc7001;}
.experience_top{position: absolute;left: 70px;top: 45px;width: 14px;text-align: center;margin-left: -6px;color: #fc7001;}
.experience:after{content: '';}
.experience h2{margin-bottom: 20px;}
.experience dl{margin-left: 90px;padding: 20px 0;}
.experience dt{position: relative;font-weight: bold;font-size: 14px;margin-bottom: 5px;}
.experience dt:before{content: '';position: absolute;width: 6px;height: 6px;background: #fff;border:2px solid #fc7001;border-radius: 6px;left: -24px;top: 3px;}
.experience dt span{position: absolute;left: 0;margin-left: -80px;font-size: 12px;font-weight: normal;width: 50px;text-align: center;background: #ccc;color: #fff;}
.experience dd {color: #555;}
.experience dd span{display: inline-block;width: 150px;font-size: 12px;color: #888;}
.experience dd p{margin-top: 5px;}





