.mr-70{margin-left:-70px;}
#allGoods .mr-0{margin-right: 0px;}
#commodity-box .panel-heading{height: 36px;}
#commodity-box .modal-body{padding-bottom: 0px;}
#commodity-box .modal-content{width: 730px;margin-left:-70px;overflow: hidden;}
.children-box{overflow: hidden;padding:0px 0px 10px 0px;}
.children-box .list-box{overflow: hidden;}
.children-box .list-box ul,.children-box .list-box li{list-style: none;}
.children-box .list-box ul{margin: 0px;padding: 0px;}
.children-box .list-box li{overflow: hidden;line-height: 60px;border:1px solid #fff;margin-top: 8px;padding:5px 0px;cursor: pointer;}
.children-box .list-box li:hover{background: #ececec;border:1px solid #ececec;}
.children-box .list-box li.active{border:1px solid #89cc97;}
.list-box li div{white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.list-box li div img{margin-right: 6px;}
#commodity-box .modal-footer{margin-top: 0px;text-align: left;}
#commodity-box .fly-box{position: relative;}
#commodity-box .fly-num{position: absolute;top: -5px;right: 25px;font-size: 10px;color: red;display: none;}

#commodity-box .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0 0 20px 0;
  border-radius: 4px;
}
#commodity-box .pagination > a {
  display: inline;
}
#commodity-box .pagination > a,
#commodity-box .pagination > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #428bca;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

#commodity-box .pagination  > a:hover,
#commodity-box .pagination  > span:hover,
#commodity-box .pagination  > a:focus,
#commodity-box .pagination  > span:focus {
  color: #2a6496;
  background-color: #eeeeee;
  border-color: #dddddd;
}
#commodity-box .pagination > .current ,
#commodity-box .pagination > .current ,
#commodity-box .pagination > .current:hover,
#commodity-box .pagination > .current:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  cursor: default;
}
#commodity-box .pagination > .current.prev ,
#commodity-box .pagination > .current.prev ,
#commodity-box .pagination > .current.prev:hover,
#commodity-box .pagination > .current.prev:focus,
#commodity-box .pagination > .current.next ,
#commodity-box .pagination > .current.next ,
#commodity-box .pagination > .current.next:hover,
#commodity-box .pagination > .current.next:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}

#commodity-box .pagination-sm  > a,
#commodity-box .pagination-sm  > span {
  padding: 5px 10px;
  font-size: 12px;
}