@charset "utf-8";

.statistical .hd{border-bottom: 1px solid #d0d0d0;height: 42px;line-height: 42px;}
.statistical .hd li{float: left;height: 40px; width: 25%;font-size: 14px;text-align: center;}
.statistical .hd li.on{border-bottom: 3px solid #ffba00;}
.statistical_cnt{display: none;}