body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:15px;
  width:280px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:18px;
  top:24px;
  width:14px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:104px;
  width:260px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:64px;
  width:260px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:144px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:144px;
  width:80px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:184px;
  width:260px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:314px;
  width:260px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:27px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:224px;
  width:79px;
  height:13px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:99px;
  top:225px;
  width:21px;
  height:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:10px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:129px;
  top:225px;
  width:21px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:159px;
  top:225px;
  width:21px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:242px;
  width:196px;
  height:13px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:20px;
  top:266px;
  width:260px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
